<section id="mainContent">
	<section id="boxLeft">
		<h1>Services</h1>
			<p>Decades of jewelry experience allow Hodges Jewelers to offer an outstanding quality and selection of services. Whether its Justin's personalized, hand-crafted engraving or jewelry repair, Hodges Jewelers will continue to make every piece of jewelry special.</p>
	<p>Get in <%= link_to 'Contact', contact_us_path %> with us and we can help you with all of your jewelry needs.</p>
	</section>
	<section id="boxRight">
	</section>
</section><!--end mainContent-->