<div id="mainContent">
	<div id="boxLeft">
		<h1>History</h1>
		<p>Courtney (father) and Justin (son), with their many years of experience crafting and repairing fine jewelry, are living out a dream and continuing a family tradition. The Hodges’ grandfather was a watchmaker in White Pigeon Michigan from the late 1930s until 1970.</p>
		<p>Justin completed three years of schooling at Gem City College in Quincy Illinois, recommended by master jewelers throughout the country as one of the best jeweler training centers available.  Gem City College is one of the few institutions in the United States to offer a thorough program of engraving. The fine touch of Justin’s hand engraving  can never be duplicated by a machine and expert craftsmanship and the skill of hand engraving on precious metals is experiencing a revival.  He has 10 years of experience putting this training into practice.</p>
		<p>Courtney has made custom jewelry for years and the Hodges design and manufacture their custom jewelery pieces on site in the in-store studio.</p>
		<p>As Gem City College correctly observes, “The jewelry business is associated one hundred percent with happiness. Gift giving reflects occasions of anniversary, birthday, engagement, or graduation. A gift from the jeweler is something to be cherished.”</p>
		<p>In addition to designing and manufacturing custom jewelry, Hodges Jewelers carries a full line of Bulova watches and also has access to any kind of pre-owned watches including Rolex and Tag-Heuer products. “Many pre-owned watches are rarely worn,” says Courtney. “They’re often just put into a safe.”</p>
		<p>A full line of wedding, engagement and anniversary rings are in stock from sterling to platinum, as well as some high quality gift items.</p>
		<p>“Jeweler” is what the sign says on the building, accompanied by a plaque reading 1862. The effect is of timeless elegance which is matched only by the products and skills available within.</p>
	</div>
	<div id="boxRight">
		<%= image_tag ('/assets/jandc1.gif')%>
	</div>
</div><!--end mainContent-->