/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
	background-color: #acacac;
}
#wrapper {
	margin: auto;
	width: 1000px;
	background-color: #acacac;
}
#logo {
	float: left;
	background: url('/assets/bsslogo.gif');
	width: 100px;
	height: 100px;
}
#search {
	background-color: #333333;
	border: #333333;
	height: 25px;
	color: #E6E6E6;
}
nav {
	width: 750px;
	word-spacing: 30px;
	margin-top: 60px;
	margin-right: 10px;
	text-shadow: 0px 3px 5px #282b1f;
	font-size: large;
	font-family: "Segoe UI", Candara,"Bitstream Vera Sans","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	font-style: italic;
	text-align: right;
	float: right;
	clear: none;
}
nav a:hover {
	text-decoration: none;
}
nav a:link {
	text-decoration: none;
}
nav a:visited {
	color: #000;
}
nav a:active {
	color: #000;
}
#adminNav {
	word-spacing: 8px;
	margin-top: -5px;
}
#adminNav a {
	text-decoration: underline;
}
#adminNav span{
	font-size: x-small;
	word-spacing: 2px;
}
#mainContent {
	font-size: 12px;
	color: #000;
	font-family: "Segoe UI", Candara,"Bitstream Vera Sans","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	padding-right: 10px;
	margin-top: 15px;
	height: 350px;
}
#mainContent h1 {
	font-size: 21px;
	font-style: italic;
}
#mainContent a {
	color: #000;
}
#mainContent a.admin {
	color: #000;
}
#mainContent img {
	margin-top: 15px;
	box-shadow: 4px 4px 5px #282b1f;
	-webkit-box-shadow: 4px 4px 5px #282b1f;
 	-moz-box-shadow: 4px 4px 5px #282b1f;
}
#mainContent img:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
}
#storeContent{
	font-size: 14px;
	color: #000;
	font-family: "Segoe UI", Candara,"Bitstream Vera Sans","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	width: 970px;
	/*border: 1px solid #E6E6E6;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #4C4C4C;*/
}
#storeContent h1 {
	font-size: 21px;
	font-style: italic;
}
#cat_list {
	width: 970px;
}
#storeCategory {
}
#storeCategory a.cat {
	border: 1px solid #E6E6E6;
	color: #907757;
	border-right: 0;
	border-top: 0;
	text-decoration: none;
	font-style: italic;
}
#storeCategory p {
	width: 250px;
}
#contactContent {
	clear: both;
	width: 1000px;
	margin: auto;
	padding-left: 10px;
	color: #000;
}
#contactContent h1 {
	font-style: italic;
	font-size: 21px;
}
#contactContent p {
	font-family: "Segoe UI", Candara,"Bitstream Vera Sans","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
}
.leftBox {
	float: left;
	width: 300px;
	margin-right: 30px;
	margin-top: -25px;
	opacity: 1;
	text-shadow: 0px 3px 5px #282b1f;
}
.leftBox h1 {
	margin-bottom: -6px;
}
.leftBox img:hover {
	opacity: .9;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
footer {
	width: 1000px;
	height: 20px;
	text-align: center;
	padding-top: 20px;
	color: #000;
	font-size: x-small;
	font-family: "Segoe UI", Candara,"Bitstream Vera Sans","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
}
/* Event Calendar */
#eventListing h1 {
	color: #000;
}
#eventListing a {
	text-decoration: none;
	font-size: 18px;
}
#eventListing span {
	font-style: italic;
}
#eventListing a {
	color: #000;
	text-decoration: underline;
}
#eventListing a.admin {
	color: #000;
}
#eventListing dl {
	font-size: 12px;
	color: #000;
}
#eventListing dt {
	font-size: 12px;
	color: #000;
}
#eventListing h2.deptDivider {
	font-size: 24px;
	color: #666666;
}

/*Contact Form*/
fieldset {
	width: 300px;
	border: none;
	font-family: "Segoe UI", Candara,"Bitstream Vera Sans","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
}
.submit {
	font-family: "Segoe UI", Candara,"Bitstream Vera Sans","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
}
input {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E6E6E6), to(#B2B2B2));
 	background-image: -moz-linear-gradient(19% 75% 90deg,#B2B2B2, #E6E6E6);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
textarea {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E6E6E6), to(#B2B2B2));
 	background-image: -moz-linear-gradient(19% 75% 90deg,#B2B2B2, #E6E6E6);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
section.submit input {
	width: 60px;
	height: 30px;
	margin-left: 15px;
}
#googleMap {
	width: 400px;
	float:right;
	clear: none;
	margin-top: -430px;
	padding-right: 20px;
}
#contactContent {
	width: 600px;
	clear: both;
}
/*Login*/
.login {
	margin-left: 40px;
	word-spacing: 20px;
}
.login a {
	color: #000;
}
.login span {
	color: #000;
	font-size: 10px;
	word-spacing: 0px;
}
/*FancyBox Title*/
#tip7-title {
	color: #eb2525;
	background: #000;
	opacity: .8;
	float: right;
}
#tip7-title b {
}
#tip7-title span {
}