<div id="boxleft">
<h1>Editing Product Category</h1>

<p><%= link_to 'Show', @product_cat, :class => 'admin'  %> |
<%= link_to 'Back', product_cats_path, :class => 'admin'  %></p>

<%= render 'form' %>
</div>
